.container {
	 
	 /*flex-direction: row-reverse;*/
	 /*flex-direction: column;*/
	 /*justify-content: flex-end;*/
	 /*justify-content: center;*/
	 /*justify-content: space-between;8/
	 /*justify-content: space-evenly;*/
	 border: 10px solid black;
	 height: 90vh;
	 /*align-items: flex-end;*/
	 /*align-items: baseline;*/
	/* flex-wrap: wrap; 8/
	 align-content: flex-start; /* end / center / space-evenly / space-between */
	/* column-gap: 1em;
	 row-gap: 1em; */
}

.box {
	width: 150px;
	height: 150px;
	font-size: 10em;
}

#box1 {
	/*font-size: 1em; */
	background-color: red;
}

#box2 {
	background-color: yellow;
}

#box3 {
	background-color: green;
}

#box4 {
	background-color: blue;
}